@page "/"

@* @using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization *@
@* @attribute [Authorize] *@

<PageTitle>Inicio</PageTitle>

@*<div class="text-center">
    <h1 class="display-6 small-text">
        SISTEMA CONTABLE CENTRO JUDICIAL DE SAN PEDRO DE JUJUY
        <img src="./assets/images/logopodjud.png" alt="Logo" class="img-fluid small-logo" />
    </h1>
</div>*@

<body>
    @*
    <div class="ifraime-container">
    <div class="row">
    <div class="col-12">
    <iframe src="http://10.15.2.174/contadsp/graficoscontable/dashboard/index.php" width="100%" height="600px" style="border:none;"></iframe>
    </div>
    </div>
    </div>
    *@

    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4">Bienvenido al Sistema Contable</h1>
            <p class="lead">Centro Judicial de San Pedro de Jujuy</p>
            <img src="./assets/images/logopodjud.png" alt="Logo" class="img-fluid my-4" style="max-width: 200px;" />
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-body text-center">
                        <h2 class="card-title">Sistema Contable</h2>
                        <p class="card-text">Bienvenido al sistema contable del Centro Judicial de San Pedro de Jujuy. Utilice el menú de navegación para acceder a las diferentes secciones del sistema.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>