@page "/altaPresupuesto/{id}"


<div class="container mt-4"> 
    <div class="row justify-content-center">
        <div class="col-md-12 border rounded">
            <div class="conteiner-fluid">
                <h1>Alta Presupuesto</h1>
            </div>
        </div>
    </div>
</div>



@code {
     [Parameter]
     public string id { get; set; }
}
